* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f7fc;
  color: #1e293b;
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
}

button {
  cursor: pointer;
}